.trialLessonForm {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.formRadioBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 40px;
}
