.heroWrapper {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.heroTextContentBox {
  display: block;
  padding: 98px 64px;
  max-width: 720px;
  width: 100%;
  border-radius: 30px;
}
.mainTitle {
  max-width: 548px;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 32px;
}
.mainTitle span {
  font-style: italic;
  font-weight: 400;
  position: relative;
  z-index: 100;
}
.mainTitle span::before {
  content: '';
  position: absolute;
  top: 12px;
  left: -4px;
  width: 106%;
  height: 65%;
  z-index: -1;
  background-color: #fbe9ba;
  border-radius: 8px;
}
.heroTextContentBox p {
  display: block;
  max-width: 471px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  margin-bottom: 64px;
}
.heroBtn {
  border: none;
  border-radius: 12px;
  padding: 16px 88px;
  background-color: var(--main-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55;
  transition: background-color var(--general-transition);
}
.heroBtn:hover,
.heroBtn:focus {
  background-color: #ffdc86;
}

.herolist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding: 40px 122px;
  /* border: 1.5px dashed #f4c550; */
  /* background-image: url('../../assets/images/border.png'); */
  /* background-size: cover;
  background-repeat: no-repeat; */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='orange' stroke-width='1.5px' stroke-dasharray='14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.herolistItem {
  display: flex;
  align-items: center;
  gap: 16px;
}
.herolistItem h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}
.herolistItem p {
  max-width: 74px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
}
