.teachersListItem {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1184px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;

  padding: 24px;
  border: 1px solid black;
  border-radius: 24px;
}
.favoriteBtn {
  /* position: absolute; */
  /* top: 24px;
  right: 24px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
}
.avatarBox {
  position: relative;
  display: block;
  box-sizing: border-box;
  max-width: 120px;
  max-height: 120px;
  border: 3px solid #fbe9ba;
  border-radius: 50%;
  overflow: hidden;
  padding: 12px;
}
.avatarImg {
  border-radius: 50%;
}
.onlineStatusIcon {
  position: absolute;
  top: 19px;
  right: 23px;
}
.descriptionBox {
  max-width: 968px;
}
.lessonsInfoBox {
  display: flex;
}
/* .lessonsInfoBox p {
  color: var(--secondary-text-color);
} */
.lessonsInfoList {
  display: flex;
}
.lessonsInfoListItem {
  position: relative;
  padding-left: 24px;
}
.lessonsInfoListItem svg {
  position: absolute;
  left: 0px;
  top: 4px;
}
.lessonsInfoListItemAccent {
  color: #38cd3e;
}

.lessonsInfoList li:not(:last-child):after {
  content: '|';
  margin-left: 16px;
  margin-right: 16px;
  color: rgba(18, 20, 23, 0.2);
}
