.navLinkList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.headerNavLink {
  transition: background-color var(--general-transition);
}
.headerNavLink:hover,
.headerNavLink:focus {
  color: #0b44cd;
}
.active {
  color: #0b44cd;
}
