.navLinkList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  font-weight: 400;
  line-height: 1.25;
}
.headerNavLink {
  transition: background-color var(--general-transition);
}
.headerNavLink:hover,
.headerNavLink:focus {
  color: var(--main-color);
}
.active {
  color: var(--main-color);
}
